.MainMenu {
  // display: none;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  height: 0;
  overflow: hidden;
  transition: 0.3s all ease;

  &Active {
    height: auto;
    transition: 0.3s all ease;
  }
}