.MainMenu {
  grid-column: 1 / span 2;

  &__list {

    max-height: 0;
    overflow: hidden;
    transition: 0.5s max-height ease;

    &Active {
      max-height: 999px;
      transition: 0.5s max-height ease;
    }
  }
}