@use '../../../styles/global/' as global;

.mainMenuItem {
  color: global.$white;

  @include global.media-up(xl) {

    &:first-of-type {
      margin-left: auto;
    }

    @include global.media-up(xl) {
      &:not(:last-of-type) {
        .mainMenuItem__link {
          padding: 1.2rem 4.3rem 0.9rem 3.1rem;
        }
      }

      &:last-of-type {
        .mainMenuItem__link {
          margin: 0 0 0 3.3rem;
        }
      }
    }
  }

  &__link {
    color: global.$white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    position: relative;

    &_hasSubMenu {
      &:after {
        background-image: url('data:image/svg+xml,<svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L7.29297 7.5" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M14.293 1.5L7.29297 7.5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
        content: '';
        width: 1.6rem;
        height: 0.9rem;
        display: inline-block;
        position: absolute;
        top: 0.7rem;
        right: -2.2rem;
        transition: all 0.3s ease;

        @include global.media-up(xl) {
          top: 1.8rem;
          right: 2.2rem;
        }
      }

      &.mainMenuItem__linkActive {
        &:after {
          background-image: url('data:image/svg+xml,<svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L7.29297 7.5" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M14.293 1.5L7.29297 7.5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
          transform: rotateZ(180deg);
          transition: all 0.3s ease;
        }
      }
    }

    &Active {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(25px);
      border-radius: 10px 10px 0px 0px;
    }
  }
}