@use '../../../styles/global/' as global;

.logo {
  width: 12.9rem;
  height: 1.5rem;
  display: inline-block;
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 0 -0.2rem;

  @include global.media-up(xl) {
    grid-row: 1;
    margin: 0 0 0 1.3rem;
  }

  &__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    position: relative;
    color: global.$white;

    @include global.media-up(xl) {
      font-size: 2rem;
    }

    &:before {
      position: absolute;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      display: inline-block;
      top: 11px;
      left: -8px;
      border-radius: 50%;
      background: linear-gradient(90.75deg, rgba(255, 0, 168, 0.6) 2.97%, rgba(189, 0, 255, 0.6) 55.95%);
    }
  }
}