@use '../../../styles/global/' as global;

.hamburger {
  grid-column: 2;
  grid-row: 2;
  display: block;
  width: 2.1rem;
  height: 2rem;
  position: relative;
  top: -0.7rem;
  left: 3rem;

  @include global.media-up(xl) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  span {
    display: inline-block;
    width: 2.1rem;
    height: 0.3rem;
    position: absolute;
    background-image: url('data:image/svg+xml,<svg width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 1.70117L19 1.70117" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
    opacity: 1;
    transition: all 0.3s ease;
    transform-origin: center;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 0.8rem;
    }

    &:nth-of-type(3) {
      top: 0.8rem;
    }

    &:nth-of-type(4) {
      top: 1.6rem;
    }
  }

  &.active {
    span {
      &:nth-of-type(1) {
        opacity: 0;
      }

      &:nth-of-type(2) {
        transform: rotateZ(45deg);
      }

      &:nth-of-type(3) {
        transform: rotateZ(-45deg);
      }

      &:nth-of-type(4) {
        opacity: 0;
      }
    }
  }
}