@use '../../../styles/global/' as global;

.menuWidgetList {
  &__heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: linear-gradient(90.75deg, #FF00A8 2.97%, #BD00FF 55.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    margin-bottom: 2.2rem;

    @include global.media-up(xxl) {
      margin-bottom: 4.2rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;

    @include global.media-up(xxl) {
      flex-direction: column;
    }

    &Item {
      width: calc(50% - 1rem);
      margin-bottom: 2.2rem;

      @include global.media-up(xxl) {
        margin-bottom: 2rem;
      }

      &Link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: global.$white;
      }
    }
  }

  &__linkAll {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: global.$white;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 1.2rem;

    @include global.media-up(xl) {
      margin-top: 2.4rem;
      position: relative;
    }

    &:after {
      content: '';
      width: 100%;
      height: 0.1rem;
      display: inline-block;
      background-color: global.$white;
      position: relative;
      top: -1.2rem;
      transition: all 0.3s ease;
    }

    &:hover {
      color: global.$pinkLight;
      transition: all 0.3s ease;

      &:after {
        background-color: global.$pinkLight;
        transition: all 0.3s ease;
      }


    }
  }
}